<html lang="en" >
<head>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  <link rel="stylesheet" href="assets/style/style.css">

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

</head>

<body ng-app="BlankApp" ng-cloak ng-style="{'background-image':'url(/assets/img/LoginBackground.jpg)','background-position':'center','background-repeat':'no-repeat'}">


  <script type="text/javascript">

    angular.module('BlankApp', ['ngMaterial']);




        angular.module('BlankApp', ['ngMaterial'])
        .controller('AppCtrl', function($scope, $mdDialog, $mdMedia) {
          $scope.status = '  ';
          $scope.customFullscreen = $mdMedia('xs') || $mdMedia('sm');


          $scope.showAdvanced = function(ev) {
            var useFullScreen = ($mdMedia('sm') || $mdMedia('xs'))  && $scope.customFullscreen;
            $mdDialog.show({
              controller: DialogController,
              templateUrl: '/component/register/register-dialog.html',
              parent: angular.element(document.body),
              targetEvent: ev,
              clickOutsideToClose:true,
              fullscreen: useFullScreen
            })
            .then(function(answer) {
              $scope.status = 'You said the information was "' + answer + '".';
            }, function() {
              $scope.status = 'You cancelled the dialog.';
            });
            $scope.$watch(function() {
              return $mdMedia('xs') || $mdMedia('sm');
            }, function(wantsFullScreen) {
              $scope.customFullscreen = (wantsFullScreen === true);
            });
          };

        });
        function DialogController($scope, $mdDialog) {
          $scope.hide = function() {
            $mdDialog.hide();
          };
          $scope.cancel = function() {
            $mdDialog.cancel();
          };
          $scope.answer = function(answer) {
            $mdDialog.hide(answer);
          };
        }

        angular.module('BlankApp')
          .config(function($mdThemingProvider) {
              $mdThemingProvider.theme('default')
              .primaryPalette('blue')
              .accentPalette('red');
            });
  </script>

    <div layout-align="center center" class="login-form" ng-controller="AppCtrl" ng-cloak>
        <section layout="column"   layout-wrap>
          <md-input-container>
            <label>User</label>
             <md-icon md-svg-src="assets/icons/user-icon.svg" class="name"></md-icon>
            <input  ng-model="user.firstName">
          </md-input-container>
          <md-input-container>
            <label> Password</label>
            <md-icon md-svg-src="assets/icons/password-icon.svg" class="name"></md-icon>
            <input type="password" ng-model="user.password">
          </md-input-container>
        </section>

        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
             <md-button class="md-raised md-primary">Login</md-button>
             <md-button class="md-raised md-accent" ng-click="showAdvanced($event)">Register</md-button>
        </section>
      </div>
</div>
</body>
</html>
