<div layout-align="center center" class="login-form" ng-controller="registerController">


  <form name="registerForm" >
    <section layout="column"   layout-wrap>

        <md-input-container>
            <label>User</label>
             <md-icon md-svg-src="assets/icons/user-icon.svg" class="name"></md-icon>
            <input  ng-model="user.nickName" ng-required=true name="nickname" check-user>
            <div ng-messages="registerForm.nickname.$error" multiple md-auto-hide="false" >
                     <div ng-message="existentuser">
                      User already exists
                     </div>
                     <div ng-message="required">
                      User required
                     </div>
            </div>


        </md-input-container>

        <md-input-container>
          <label> Password</label>
          <md-icon md-svg-src="assets/icons/password-icon.svg" class="name" ></md-icon>

          <input  type="password" name="password" required ng-model="user.password" ng-minlength=7 ng-pattern='/^[a-zA-Z0-9]*$/'>
            <div ng-messages="registerForm.password.$error" multiple md-auto-hide="false">
              <div ng-message="required">
                    Password required
              </div>
              <div ng-message="minlength">
                    Password should contain at least 7 characters
              </div>
			   <div ng-message="pattern">
                    Password should be alphanumeric without special characters
              </div>
          </div>
        </md-input-container>

        <md-input-container>
          <label>Repeat Password</label>
          <md-icon md-svg-src="assets/icons/password-icon.svg" class="name" ></md-icon>
           <input type="password" name="passwordConf" required ng-model="passwordConfirmation" password-confirm match-target="user.password">

          <div ng-messages="registerForm.passwordConf.$error" multiple md-auto-hide="false">
            <div ng-message="match">
                    Passwords do not match.
              </div>
          </div>
        </md-input-container>
        
        <md-input-container>
          <label> First Name</label>
          <md-icon md-svg-src="assets/icons/name-icon.svg" class="name"></md-icon>
          <input  ng-model="user.firstName">
        </md-input-container>

        <md-input-container>
          <label> Last Name</label>
          <md-icon md-svg-src="assets/icons/name-icon.svg" class="name"></md-icon>
          <input  ng-model="user.lastName">
        </md-input-container>

        <md-input-container>
          <label> Email</label>
          <md-icon md-svg-src="assets/icons/email-icon.svg" class="name"></md-icon>
          <input type="email" name="email"  ng-model="user.email" ng-pattern="/^.+@.+\..+$/" ng-required=true>
          <div ng-messages="registerForm.email.$error" multiple md-auto-hide="false">
            <div ng-message="pattern">
                    Mail format should be: someone@example.com
              </div>
          </div>
        </md-input-container>
    </section>
</form>

      <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
             <md-button class="md-raised md-primary" ng-click="cancel()">Cancel</md-button>
             <md-button class="md-raised md-accent" ng-disabled="registerForm.$invalid" ng-click="registerUser(user)">Register</md-button>
      </section>
</div>
