<div ng-controller="taskManagerCtrl as taskManager">
    <md-button class="md-fab md-primary md-hue-2" aria-label="Add" ng-click="isAdding= !isAdding">
        <md-tooltip md-direction="bottom">                
            {{isAdding ? "Shrink" : "Add new task"}}
        </md-tooltip>
        <md-icon md-font-icon="material-icons">
            {{isAdding ? "remove" : "add"}}
        </md-icon>              
</md-button>

    <div class="flex taskFormContainer" >
        <section>         
            <form name="taskForm" ng-show="isAdding">     
                <h4 class="md-title" id="createTaskTitle">Create Task</h4>           
                <md-input-container>
                    <label>Title</label>
                    <input ng-model="task.title">
                </md-input-container>
                
                <input class="ng-hide" id="input-file-id" multiple type="file" />               
                <label for="input-file-id" class="md-button md-raised md-primary taskFormLabel">
                    <md-icon md-font-icon="material-icons">add_photo_alternate</md-icon>
                    <md-tooltip md-direction="top">Upload task image</md-tooltip>
                </label>                

                <md-input-container class="md-block">
                    <label>Description</label>
                    <textarea name="taskDescription" ng-model="task.description" md-maxlength="170" rows="1" md-select-on-focus></textarea>
                    <div ng-messages="taskForm.taskDescription.$error">                                
                        <div ng-message="md-maxlength">The description has to be less than 170 characters long.</div>
                    </div>
                </md-input-container>
                
                <md-input-container>
                    <label>Your Name</label>
                    <input ng-model="task.createdBy">
                </md-input-container>

                <md-input-container>
                    <label> Due date</label>
                    <md-datepicker ng-model="task.dueDate"></md-datepicker>
                </md-input-container>
               
                
                <md-button class="md-raised md-primary addTaskButton" ng-click="taskForm.$valid && taskManager.addTask(task)" >
                    Add Task
                </md-button>      
            </form>  
        </section>
    </div>  
    <md-list>
            <md-subheader class="md-no-sticky">
                    <md-icon md-font-icon="material-icons">
                        list
                    </md-icon>
                    Task List            
                    <div class="taskFiltersContainer">
                        
                        <md-input-container>
                            <label>Search by Title</label>
                            <input ng-model="filter.title">
                        </md-input-container>
                            
                        <md-input-container>
                            <label>Search by Description</label>
                            <input ng-model="filter.description">
                        </md-input-container>
        
                        <md-input-container>
                                <label>Search by Creator</label>
                                <input ng-model="filter.createdBy">
                            </md-input-container>
                            
                        <md-input-container>
                            <label> Start date</label>
                            <md-datepicker ng-model="filter.dueDate"></md-datepicker>
                        </md-input-container>
                                    
                        <md-input-container>
                            <label> End date</label>
                            <md-datepicker ng-model="filter.dueDate"></md-datepicker>
                        </md-input-container>
                    </div>
                </md-subheader>    
                <md-list-item ng-repeat="task in taskManager.taskList | filter:filter" ng-click="" class="noright md-2-line" ng-class="{'taskLate': !task.isCompleted && task.hasExpired(), 'taskCompleted': task.isCompleted}">
                        <md-checkbox  ng-model="task.isCompleted"></md-checkbox>
                        <div class="md-list-item-text" layout="column">
                            <h3>{{ task.title }}</h3>                    
                            <p>{{ task.description }}</p>                       
                            <p> 
                                <md-icon md-font-icon="material-icons" ng-click="taskManagerCtrl.show()">
                                    {{ task.hasExpired() ? "notification_important" : "watch_later"}}                      
                                    <md-tooltip md-direction="top">                
                                        Due date: {{task.dueDate | date: medium}}. {{task.hasExpired() ? "This task is past due date." : "You have enough time to finish this task"}}
                                    </md-tooltip>              
                                </md-icon>
                                    <b>Due date:</b> {{task.dueDate | date:medium}}                              
                                    <b>Author</b>:{{task.createdBy}}
                            </p>                     
                        </div>                          
                        
                        <img ng-if="task.img" ng-src="{{ task.img }}" class="md-avatar" />                                  
                        
                        <md-icon class="md-secondary" ng-click="taskManager.showDialog($event)" ng-show="task.img">image</md-icon>
                        <md-icon class="md-secondary" ng-click="taskManager.deleteTask(task)">delete</md-icon>               
                    </md-list-item>           
                  </md-list> 
    </md-list>
</div>